.asteroidbig {
    color:blue;
    background:yellow;
    width: 200px;
}

.asteroidb329big{
    color:blue;
}

.container{
border: 2px solid green;
width: 200px;
}
.asteroidb326{
    border-top: 2px solid green;
}
